* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background-color: #f4f4f4;
    text-align: center;
}
.navbar {
    background-color: #04284f;
    padding: 15px;
    color: white;
    font-size: 24px;
    font-weight: bold;
}
.container {
    margin: 20px auto;
    padding: 20px;
    max-width: 900px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    color: #0c2641;
    margin-bottom: 10px;
}
p {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin-bottom: 15px;
}
ul {
    text-align: left;
    margin-left: 20px;
}
li {
    font-size: 16px;
    margin: 5px 0;
}
.btn {
    padding: 10px 15px;
    background-color: #0f2b48;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;
}
.btn:hover {
    background-color: #0b2b4c;
}
.footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #0e1d2d;
    color: white;
    font-size: 14px;
}
